---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />

  <main>
    <Hero />
    <About />
    <Gallery />
    <Contact />
  </main>

  <Footer />

  <script src="../scripts/mobile-menu.ts"></script>
  <script src="../scripts/gallery.ts"></script>
</Layout>
